@font-face {
	font-family: 'sa-digital-number';
	src: url('fonts/sa-digital-number.eot');
}
@font-face {
	font-family: 'sa-digital-number';
	src: url('fonts/sa-digital-number.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sa-digital-number';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
	content: "\2d";
}
.icon-zero:before {
	content: "\30";
}
.icon-one:before {
	content: "\31";
}
.icon-two:before {
	content: "\32";
}
.icon-three:before {
	content: "\33";
}
.icon-four:before {
	content: "\34";
}
.icon-five:before {
	content: "\35";
}
.icon-six:before {
	content: "\36";
}
.icon-seven:before {
	content: "\37";
}
.icon-eight:before {
	content: "\38";
}
.icon-nine:before {
	content: "\39";
}
